<a href="https://colab.research.google.com/github/de-fernandez/CpE-031-VDA-CpE-21S4/blob/main/Exercise_2_Fernandez%2C_Don_Eleazar_CpE_21S4%2C_CpE_031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> <h1> Exercise 2 </h1>

Example 1

In [24]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [20]:
import pandas

mydataset = {
    'animals':["Cat", "Dog", "Rabbit"], 'height':[13, 17, 8]
}
myvar = pandas.DataFrame(mydataset)
print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

Example 2

In [21]:
import pandas as pd

a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

Example 3

In [31]:
import pandas as pd

data = {"age": [42, 38, 39], "weight": [50, 40, 45]}
myvar = pd.DataFrame(data)
print(myvar)

   age  weight
0   42      50
1   38      40
2   39      45

In [33]:
print(myvar.loc[0])

age       42
weight    50
Name: 0, dtype: int64

In [37]:
print(myvar.loc[[0,1]])

   age  weight
0   42      50
1   38      40

In [36]:
print(myvar.loc[[0,1,2]])

   age  weight
0   42      50
1   38      40
2   39      45

Example 4

In [54]:
import pandas as pd

s1 = pd.Series([0, 4, 8])
s2 = pd.Series([1, 5, 9])
s3 = pd.Series([2, 6, 10])
s4 = pd.Series([5, 10, 15])

dframe = pd.DataFrame([s1, s2, s3, s4])
print(dframe)

   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

In [55]:
print(dframe.drop(0))

   0   1   2
1  1   5   9
2  2   6  10
3  5  10  15

Example 5

In [58]:
import pandas as pd

s1 = pd.Series([0, 4, 8])
s2 = pd.Series([1, 5, 9])
s3 = pd.Series([2, 6, 10])
s4 = pd.Series([5, 10, 15])

#Creating Multi-dimensional Table
dframe = pd.DataFrame(data = [s1, s2, s3, s4], index = [0, 1, 2, 3], columns = [0, 1, 2])
print(dframe)

   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

<h1> Challenge 2! </h1>

Challenge 2
<br> </br>
How are you going delete indices no 0,1,3 leaving only all items in index 2?

In [64]:
import pandas as pd

s1 = pd.Series([0, 4, 8])
s2 = pd.Series([1, 5, 9])
s3 = pd.Series([2, 6, 10])
s4 = pd.Series([5, 10, 15])

#Creating Multi-dimensional Table
dframe = pd.DataFrame(data = [s1, s2, s3, s4], index = [0, 1, 2, 3], columns = [0, 1, 2])
print(dframe.drop([0, 1, 3]))

   0  1   2
2  2  6  10